.page {
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 5rem;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.main h1 {
  text-transform: capitalize;
  text-align: center;
}

.section {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 6rem 0;
}

.section li {
  display: grid;
  align-items: center;
  justify-content: center;
}

.section span{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  gap: 8px;
}

.list img {
  width: 100%;
}

.list h3, .list p{
  color: var(--foreground);

}

.list button{
  padding: 0.8rem 1.4rem;
  font-size: 1rem;
  background-color: var(--foreground);
  color: var(--background);
  text-transform: capitalize;
  border: none;
  border-radius: 25px;
}
